@charset 'utf-8';

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Raleway:600&display=swap');

// Set your brand colors
$dark-pink: hsl(332, 100%, 40%);

// Update Bulma's global variables
$primary: $dark-pink;

// Update some of Bulma's component variables
$title-family: 'Raleway', sans-serif;
$subtitle-family: 'Lato', sans-serif;

// Import only what you need from Bulma
@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/layout/hero';

.hero-body {
  padding: 3rem 0.5rem;
}

.title.name {
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-size: 2.25rem;

  @include from (22rem) {
    font-size: 2.5rem;
  }

  @include from (25rem) {
    font-size: 2.75rem;
  }

  @include from (30rem) {
    font-size: 3.25rem;
  }

  @include from (37.5rem) {
    font-size: 4rem;
    line-height: 1;
  }

  @include from (45rem) {
    font-size: 4.75rem;
  }

  @include from (52.5rem) {
    font-size: 5.25rem;
  }
}

.subtitle.hello {
  margin-bottom: 0.3rem;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.565;
  letter-spacing: 0.2rem;

  @include from (25rem) {
    font-size: 1.3rem;
  }

  @include from (37.5rem) {
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  @include from (52.5rem) {
    font-size: 1.3rem;
  }

  + .title.name {
    margin-top: 0;
  }
}

.job-title {
  margin-bottom: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;

  @include from (22rem) {
    font-size: 1.2rem;
  }

  @include from (37.5rem) {
    font-size: 1.3rem;
  }
}
