@charset 'utf-8';

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

// Set your brand colors
$dark-pink: hsl(332, 100%, 40%);

// Update Bulma's global variables
$primary: $dark-pink;

// Update some of Bulma's component variables
$title-family: 'Raleway', sans-serif;
$subtitle-family: 'Lato', sans-serif;

// Import only what you need from Bulma
@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/layout/hero';
